<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Enziq Solutions</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
            We help big companies innovate like startups, & small businesses scale like industry leaders. We are Enziq!
        </ion-card-content>
      </ion-card>
</ion-content>
