<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/news-feed"></ion-back-button>
        </ion-buttons>
    <ion-title>{{newsDetail.author}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img [src]="newsDetail.urlToImage"></ion-img>
        <ion-card-content>
            <ion-card-title>{{newsDetail.title}}</ion-card-title>
          <p>{{newsDetail.content}}</p>
        </ion-card-content>
      </ion-card>
</ion-content>
